.container {
  @apply flex;
  @apply flex-col;
  @apply justify-between;
  min-height: 520px;
  height: calc(100vh - 50px);

  @apply bg-justified-yellow;
}
.back {
  flex: 0 1 50px;
}
.backContents {
  @apply flex;
  @apply text-justified-red;
  @apply pt-4;
  @apply pb-2;
}

.backArrow {
  @apply px-3;
}

.backText {
  @apply font-semibold;
}

.imagery {
  flex: 2 1 260px;
}

.imageAndBubbleContents {
  @apply relative;
  height: 100%;
}

.image {
  @apply bg-cover;
  @apply bg-center;
  @apply relative;
  z-index: 1;
  height: 100%;
  width: 74%;
  min-width: 250px;
  clip-path: polygon(
    83% 0,
    97% 3%,
    100% 10%,
    96% 93%,
    90% 94%,
    88% 100%,
    77% 93%,
    0 96%,
    0 2%
  );
  background-image: url("../../Public/man-one.jpg");
}

.colorBubble {
  clip-path: polygon(
    100% 11%,
    100% 60%,
    91% 92%,
    85% 93%,
    82% 98%,
    73% 90%,
    6% 84%,
    0 75%,
    30% 3%,
    94% 8%
  );
  @apply absolute;
  @apply bg-justified-red;
  height: 120%;
  width: 75%;
  top: -5px;
  right: 0;
}

.text {
  flex: 2 1 200px;
}

.author {
  @apply text-justified-red;
  @apply pb-4;
  font-size: 18px;
  font-weight: 700;
}

.authorAndTitle {
  @apply px-3;
  @apply pt-4;
}

.articleTitle {
  @apply leading-none;
  @apply font-light;
  @apply mb-8;
  /* @apply text-3xl; */
  font-size:35px;
  font-family: Newsreader;
}

.fatTitle {
  @apply font-medium;
}

.options {
  flex: 0 1 115px;
  @apply px-3;
}

.listenToArticle {
  @apply flex;
  @apply pb-4;
}

.listenPrompt {
  @apply text-justified-red;
  font-weight: 500;
  font-size: 18px;
  @apply pt-3;
  @apply pl-3;
}

.readArticle {
  @apply flex;
}

.readPrompt {
  @apply text-justified-red;
  font-weight: 500;
  font-size: 18px;
}

.arrow {
  @apply pl-2;
  @apply pr-5;
}
